.home-svg {
    width: 500px;
    margin: 0 !important;
}

.home-icons {
    margin-top: 40px;
    margin-right: 40px;
    width: 80px;
}

@media (max-width: 940px) {
    main {
        margin: 0;

        padding: 10px;

        flex-direction: column;
    }

    section {
        margin: 0 !important;
    }

    .topic {
        border-left: none;
        border-bottom: solid;
        width: fit-content;
        border-color: #00DF5E;
    }

    .home-svg {
        width: 400px !important ;
    }

    .home-icons {
        width: 50px;
    }


}
