.skills-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.skills-article {
    display: grid !important;
    margin-left: 80px;
    grid-template-columns: 120px 120px 120px;
}

.svg {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

@media (max-width: 940px) {
    .skills-article {
        margin: 0;
        grid-template-columns: 120px 120px;
    }
    .skills-section {
        flex-direction: column;

        align-items: center;
    }

    .skills-main {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}

