article {
    display: flex;
}

.about-img {
    width: 400px;
}

.about-img {
    width: 400px;
}

main {
    margin-right: 30px;
}

@media (max-width: 930px) {
    section {
        display: flex;
        justify-content: center;

        flex-wrap: wrap !important;
    }
    article {
        display: flex;
        justify-content: center;

        flex-wrap: wrap !important;
    }
}
